@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
body {
  background: #fffbf5 !important;
}
* {
  font-family: "Lalezar";
}
/* #root {
  background: #fffbf5 !important;
} */
.first-row {
  height: 70vh;
  display: flex !important;
  align-content: center;
}
.loginBtn {
  background: #ff4c29;
  border: none !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 20px !important;
  border-radius: 10px !important;
  width: 30% !important;
  text-align: center !important;
  cursor: pointer !important;
  text-decoration: none !important;
  margin-bottom: 20px !important;
  font-size: 50px !important;
}
.loginBtn:hover {
  background: #e04424;
}
.navbar-nav {
  list-style: inside !important;
  width: 100% !important;
  justify-content: center !important;
  font-size: 23px;
}
.li-item {
  color: #ff4c29 !important;
}
.nav-link {
  display: inline-grid !important;
  color: black !important;
}
.social {
  height: 40vh;
  align-items: end;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.social i {
  padding: 5px;
  margin: 5px;
  background: gray !important;
  border-radius: 100%;
  color: white;
  height: 35px;
  width: 35px;
  font-size: 26px;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    font-size: 14px;
    display: ruby;
    display: -webkit-inline-box;
    text-align: center;
  }
  .nav-link {
    color: black !important;
    font-weight: bolder;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .loginBtn {
    margin-bottom: 40px !important;
    padding: 10px !important;
    width: 80% !important;
  }
  .social {
    height: 20vh;
    align-items: flex-end !important;
  }
  .first-row {
    height: 40vh;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
