@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
* {
  background: #fffbf5 !important;
  font-family: "Lalezar";
}
/* #root {
  background: #fffbf5 !important;
} */
.first-row {
  height: 70vh;
  display: flex !important;
  align-content: center;
}
.loginBtn {
  background: #ff4c29 !important;
  border: none !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 20px !important;
  border-radius: 10px !important;
  width: 30% !important;
  text-align: center !important;
  cursor: pointer !important;
  text-decoration: none !important;
  margin-bottom: 20px !important;
  font-size: 50px !important;
}
.loginBtn:hover {
  background: #e04424 !important;
}
.navbar-nav {
  list-style: inside !important;
  width: 100% !important;
  justify-content: center !important;
  font-size: 23px;
}
.li-item {
  color: #ff4c29 !important;
}
.nav-link {
  display: inline-grid !important;
  color: black !important;
}
.social {
  height: 40vh;
  align-items: end;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.social a {
  padding: 5px;
  margin: 5px;
  background: gray !important;
  border-radius: 100%;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 20px;
}

@media only screen and (max-width: 479px) {
  .navbar-nav {
    font-size: 14px;
    display: ruby !important;
    text-align: center;
  }
  .nav-link {
    color: black !important;
    font-weight: bolder;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .loginBtn {
    margin-bottom: 40px !important;
    padding: 10px !important;
    width: 80% !important;
  }
  .social {
    height: 20vh;
    align-items: flex-start;
  }
  .first-row {
    height: 40vh;
  }
}
